  header {
    text-align: center;
    background-color: #F5F3EF;
    color: white
    padding: 40px;
    font-size: 25px;
  }

  body {
    font-family: 'Trebuchet MS', sans-serif;
    padding: 25px;
    background: #F5F3EF;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #642714;
    display: flex;
    justify-content: center;
    width: 500px;
  }

  li a {
    font-size:18px;
    font-family:  'Trebuchet MS', sans-serif;
    display: block;
    color: white;
    padding: 14px 16px;
    position: relative;
    transition: all ease-in-out 250ms;
    text-decoration: none;
  }

  li a::after{
    content:'';
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: #e3d3ca;
    bottom: -1px;
    transition: all ease-in-out 250ms;
  }

  li a:hover::after{
    width: 70%;
  }

  li a:hover{
    color: #e3d3ca;
  }


  .column1 {
    float: left;
    width: 50%;
    padding-left: 14%;
  }

  .column2 {
    float: left;
    width: 20%;
    padding-left: 2%;
  }

  .fakeimg {
    background-color: #e3d3ca;
    width: 96,5%;
    padding: 4px;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width:1000px) {
    .column1, .column2 {
      width: 100%;
      padding: 0;
    }

    li a {
      font-size:28px;
    }

    ul {
      display: block;
      width: 100%;
    }

    li a::after {
      content:'';
      position: absolute;
      display: block;
      height: 0.4em;
      width: 0%;
      background-color: #e3d3ca;
      bottom: -1px;
      transition: all ease-in-out 600ms;
    }
  }

  footer {
    text-align: center;
    background-color: #e3d3ca;
    color: white
    padding: 20px;
  }

  form {
    border: 2px solid #e3d3ca;
    font-family: 'Trebuchet MS', sans-serif;
  }

  .container {
    padding: 10px;
    background-color: #e3d3ca;
  }

  input[type=text], input[type=submit] {
    width: 20%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=checkbox] {
    margin-top: 16px;
  }

  input[type=submit] {
    background-color: #642714;
    color: white;
    border: none;
  }

  input[type=submit]:hover {
    opacity: 0.8;
  }


  .dark-mode {
    background-color: #432f23;
  }

  .darkmodebutton {
    padding-top: 20px;
  }

  .worldmap {
    padding-top: 20px;
    width: 100%;
    margin: auto;
  }

  .worldmap path {
    fill: #e3d3ca;
    stroke: #642714;
    stroke-width: 1px;
    transition: fill 0.5s;
  }

  .worldmap :hover {
    fill: #642714;
  }

  .todo-list {
    width: 350px;
  }

  .todo-list header {
    color: #642714;
    border-top: 1em solid #642714;
    padding: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .todo-list footer {
    background-color: #F5F3EF;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: .7em 0;
  }

  .todo-list .do input[type=checkbox] {
    position: absolute;
    visibility: hidden;
  }

  .todo-list .do label {
    font-family: 'Handlee', cursive;
    position: relative;
    display: block;
    padding: .75em 1em;
    background-color: #F5F3EF;
    cursor: pointer;
    transition: .3s ease-in-out;
  }

  .todo-list .do label:hover {
    transform: translateX(+1em);
  }

  .todo-list .do label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 30%;
    vertical-align: middle;
    margin-right: .5em;
  }

  .todo-list .do label::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #642714;
    transition: .3s ease-in-out;
  }

  .todo-list .do label:hover::after {
    width: 5px;
  }

  .todo-list .do label .fa-check {
    position: absolute;
    left: .7em;
    top: .25em;
    font-size: 1.7em;
    color: #e3d3ca;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  .todo-list .do input[type=checkbox]:checked + label .fa-check {
    opacity: 1;
  }

  .todo-list .do label .label {
    position: relative;
    transition: .3s ease-in-out;
  }

  .todo-list .do input[type=checkbox]:checked + label .label {
    color: #aaaaaa;
  }

  .todo-list .do label .label::after {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    top: 50%;
    height: 1px;
    background-color: #aaaaaa;
    transition: .3s ease-in-out;
  }

  .todo-list .do input[type=checkbox]:checked + label .label::after {
    right: 0;
  }

  h1 {
    text-align: center;
  }

  .Blogpost1padding {
    padding-left: 10%;
    padding-right: 10%;
  }
